/* Global Layout*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Link Styles */

.top-nav, .contact {
    list-style-type: none;
    text-transform: uppercase;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

/* Section Styles */

.card {
    display: inline-block;
}


.nav {
    display: flex;
    text-align: center;
    list-style:none;
    justify-content:space-between;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    padding: 25px;
}