/* Global Layout*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Link Styles */

.top-nav, .contact, .foots, .name {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, .top-nav:hover {
    color: red;
}


/* Base style */

.information {
    color: blue;
}

.top-nav {
    background-color: paleturquoise;
}

/* Media Queries */

@media screen and (min-width: 320px) {
.flex {
    padding: 8%;
    line-height: 1.2;
}

.card {
   display: inline-flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.top-nav, .information {
    line-height: 2;
}

.nav {
    display: flex;
    text-align: center;
    list-style:none;
    justify-content:space-between;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
}

 
.main {
    padding: 5%;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}
.information {
    list-style: none;
    padding: 5%;
}

.contact {
    padding: 20%;
}

    .nav {
        display: none;
    }

    .foot {
        font-weight: 500;
        text-transform: uppercase;
        float: right;
    }
    
    .end {
        font-weight: 500;
        display: flex;
        list-style: none;  
        justify-content: space-between;
    }

    .img {
        margin: 0 auto;
        width: 60%;
        height: 4%;
        display: inline-flex;
    }
     

    .image {
        margin: 0 auto;
        width: 80%;
        height: 50%;
        display: inline-block;
        
    }
}

@media screen and (min-width: 768px) {



    .projects-container {
    display: flex;
    flex-wrap: wrap;

}

.project {
    flex-grow: 1;
    flex-basis: 50%;
}

.portfolio {
    line-height: 10;
}

    .card {
    display: block;
    float: right;
    padding: 5% 0 0 0;
    }

    .intro {
        padding: 2px 5px;
    }

    .img {
        display: inline-flex;
        width: auto;
        height: auto;
        float: right;
        margin: 2px 2px;
    }

    .end {
        display: none;
    }

    .nav {
        display: inline-flex;
        justify-content: space-between;
        text-align: center;
    }

    ul, li, .nav, .foots {
        display: inline-block;
    }
    
    
    
    .nav {
        font-weight: 500;
        display: flex;
        list-style: none;  
        justify-content: space-around;
    }
  
}     


@media screen and (min-width: 1024px) {
   
    .projects-container {
    display: flex;
    flex-wrap: wrap;
   }

   .project {
    flex-grow: 1;
    flex-basis: 30%;
   }

   .nav {
    display: inline-flex;
    justify-content: space-between;
   }

   .intro {
    padding: 3px 10px;
    font-size: 1.2em;
}

.img {
    display: inline-flex;
    width: auto;
    height: auto;
    float: right;
    margin: 5px 5px;
}

#name, .top-nav {
    display: inline-block;
}

.nav {
    font-weight: 500;
    display: flex;
    list-style: none;  
    justify-content: space-around;
}

}